* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cluesTopRow, .cluesBottomRow, .puzzleRow, .clue, .skyscraper, .allDigits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clue, .skyscraper {
    width: 70px;
    height: 70px;

    font-size: 48px;
}

.skyscraper {
    border: 2px solid #CCCCCC;

    color: #666666;
}

.skyscraper:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.clue {
    border: 2px solid transparent;

    color: #FF9999;
}

.highlight {
    background-color: #99CC99;
}